.calculator {
    margin-bottom: 10px;
}

.item-select {
    font-family: inherit;
    font-size: inherit;
    width: 20%;
    height: 60px;
}

.delete-btn-list {
    display: flex;
    flex-direction: column;
}

.item-selected div,
.item-p div,
.delete-btn-list button {
    margin: 4px;
}

.cubeOption-select {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 20px;
}

.cubeOption-select > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.cubeOption-select > div > select {
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-bottom: 20px;
}
.cubeOptionList-first,
.cubeOptionList-second,
.cubeOptionList-third {
    width: 100%;
}

.cubeOption-first,
.cubeOption-second,
.cubeOption-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.selectfire,
.fireOptions-select,
.fireOptions-isBoss,
.fireOptions-isweapon {
    height: 50px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.fireOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fireOptions-selected {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fireOptions-selected input {
    width: 50px;
    height: 25px;
}

.fireOptions-selected div {
    margin: 10px;
}